:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-g-tomato: #f6683c;
  --color-g-midnight: #00080f;
  --color-g-lightSteel: #b0c4de;
  --color-g-slateBlue: #296399;
  --color-g-hover-slateBlue: #1154a1;
  --color-g-denim: #4a7dff;
  --color-g-hover-denim: #abbff1;
  --color-g-steel: #658caf;
  --color-g-navy: #c9e5ff;
  --color-g-dimGray: #29292a;
  --color-g-gainsboro: #dcdcdc;
  --color-g-bat: #373738;
  --color-g-white: #ffffff;
  --color-g-40-white: rgba(255, 255, 255, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
